* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(180deg, #662d8c, #ed1e79);
    
    /* Center content */ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 72px;
    color: black;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}
